<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.lmmarise.vue.persistent.dao.mybatis.mapper.UserMapper">
    <select id="loadUserByUsername" resultType="org.lmmarise.vue.domain.Hr">
        select *
        from hr
        where username = #{username}
    </select>

    <select id="getHrRolesByUid" resultType="org.lmmarise.vue.domain.Role">
        select *
        from role r,
             hr_role hr_r
        where r.id = hr_r.rid
          and hr_r.hrid = #{id}
    </select>
</mapper>